html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.App {
  text-align: center;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.btn-1 {
  color: rgb(184, 184, 184);
  border: none;
  background: none;
  font-size: 14px;
}

.hidden {
  visibility: hidden;
}

// .visible {
//   visibility: show;
// }

.disabled {
  color: white;
  &:hover {
    cursor: default;
  }
}
