@import "../../styles/variables";

.Person {
  transition: 0.07s ease-in-out;
  background-color: $primary;
  box-shadow: 0 0 5px $shadow;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid $accent;
  border-radius: 5px;
  margin: 0.5rem;
  height: 350px;
  width: 275px;
  .card-header {
    height: 250px;
    width: 80%;
  }
  .card-body {
    height: 100px;
    width: 80%;
  }
  .card-header-alt {
    width: 80%;
    h2 {
      margin-top: 0;
    }
  }
  .fill-image {
    height: 70%;
    width: 70%;
    border-radius: 5px;
  }
  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 3px solid $white;
    object-fit: cover;
  }
  &:hover {
    cursor: pointer;
    background-color: $primary-hover;
    border: 2px solid $accent-hover;
  }
}
